ries {
    background: #e3e3e3;
    display: flex;
}

.post {
    background: white; 
    box-shadow: 0 0 0 1px;
    margin: 0;
    position: relative; 
    padding: 1%; 
    border:  1px transparent;
    display: flexbox;   
}

.postBody {
    display: flex;
} 

.postTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: var(--su.3);
}

 .profileImage {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    order: 10px solid #e3e3e3;
    margin: 1em;
    overflow: hidden;
    display:inline-block
    vertical-align: middle;
    color: rgb( 64, 64, 64 );

}
.profileImage  img {
    width: 100%;
    height: auto;
}

.profileInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    max-width: 346px;
    max-height: 42px;
    gap: 10px;

} 

.postTitle{
    display: flex;
}
a {
    text-decoration: none;
    color: black;
}
.postTitle:hover {
    color: blue;
}


img.fullWidth {
    width: 100%;
    height: auto;
    object-fit: contain;
    padding-left: -20px;
}

.juniorDevSectionPadding {
    padding: 12px 12px 0 12px ;
}


.column {
    display: flex;
    flex-direction: column;
    height: 42px;
}

.profile-subtitle{
    font-size: 12px;
    color: #717171;
    font-weight: 300;
}

.emoji-section {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.emoji {
    display: flex;
    gap: 8px;
}

.mainTitle {
    font-size: 30px;
}

.psotTags {
    display: flex;
    gap: 20px;
}

.tags{
    background: transparent;
    color:#717171;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    font-weight: 300;
    font-size: 15px;
}
